// Define variables for your color scheme

// For example:
$red: #c0786a;
$blue: #23B5D3;
$yellow: #f6cf9a;
$terre: #d0bc9f;
$green: #65B891;
$gray: #0E0000;
$white: white;
$light-gray: #76737c;
$dark-gray: #474454;
