<div class = "btn2">
  <div class="btn-container">
    <div class="btn-icon">
      <%= image_tag "pensil.png", class: "icon__button" %>
    </div>
    <div class="btn-name">
      <p-button>Edit</p-button>
    </div>
  </div>
</div>
