<div class="sub-menu-container">
  <div class="menu-name">
    <%= image_tag "plant.png", class: "icon" %>
    <p__margin-left>Plant</p__margin-left>
  </div>
  <%= image_tag "arrow-down-icon.png", class: "icon__small" %>
</div>
