<div class = "search-icon-box-container" >
    <div class = "search-container-project">
    <p__margin-left>Project selected</p__margin-left>
        <%= image_tag "arrow-down-icon.png", class: "icon__small" %>
</div>
</div>
