  <%= render "shared/navbar" %>
    <div class="page-container">
      <%= render "shared/left_navbar" %>
    <div class="main-text">
    <div class="menu-container">
      <h1>Dashboard</h1>
      <%= cl_image_tag("zqdo95fawx9svequg7g8", width: 400, height: 300, crop: :fill) %>
    </div>
    </div>
  </div>
