  <%= render "shared/navbar" %>
    <div class="page-container">
      <%= render "shared/left_navbar" %>
    <div class="main-text">
    <div class="menu-container">
      <h1>Dashboard</h1>
    </div>
    </div>
  </div>
