.search-icon-box-container {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
  flex-direction: row;

}
.search-container {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}

.search {
  height: 37px;
  width: 250px;
  border: solid $yellow 0.5px;
  border-radius: 50px;

  &__small {
    height: 27px;
    width: 150px;
    border: solid $yellow 0.5px;
    border-radius: 50px;
  }
}
